@using Microsoft.AspNetCore.Hosting;

@inject IHostingEnvironment HostingEnvironment
<!DOCTYPE html>

<html data-ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if (HostingEnvironment.IsDevelopment())
    {
        <link href="~/css/bootstrap.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    }
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Log Browser
                </a>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    @if (HostingEnvironment.IsDevelopment())
    {
        <script src="~/js/jquery.js"></script>
        <script src="~/js/angular.js" ></script>
        <script src="~/js/bootstrap.js" ></script>
    }
    else
    {
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/angular.min.js" ></script>
        <script src="~/js/bootstrap.min.js" ></script>
    }
    @RenderSection("Scripts", false)
</body>
</html>
